

.nav-bar{
    position: relative;
    overflow: hidden;
}

.logout{
    display: none;
}


.logout-mobile{
    width: 100%;
    height: 200px;
    background-color: #d9ae94;
    transition: 1s ease-in;
    animation: burguerShow 1s linear;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
   
}

.logout-mobile-hidden{

    width: 100%;
    height: 200px;
    background-color: #d9ae94;
    transition: 1s linear;
    margin-left: 400px;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    animation: burguerShowDos 1s linear;

}

.burguer{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.7rem;
}

.nav-bar>section>button{
    width: 100px;
    padding: 8px 5px;
    border-radius: 0 10px 0 10px;
    border: none;
    background-color: #f7e7e7;
    margin-left: 20px;
}

.hide{
    display: none;
}

@keyframes burguerShow{
    0%{
        border-radius: 0 0 0 330px;
    }
    100%{
        border-radius: 0;
    }
}

@keyframes burguerShowDos{
    0%{
        border-radius: 0 0 0 330px;
    }
    100%{
        border-radius: 0;
    }
}


@media screen and (min-width: 450px) {

    .logout{
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
     }
     .logout>button{
         padding: 5px 10px;
         border: none;
         margin-right: 10px;
         border-radius: 5px;
         font-size: 1rem;
         background-color: #d9ae94;
         color: #faf3f3;
         box-shadow: 2px 2px 2px #6b705c;
         cursor: pointer;
     }

     .logout-mobile{
         display: none;
     }

     .logout-mobile-hidden{
         display: none;
     }

     .burguer{
       display: none;
    }
    
}