.container-shop{
    width: 100%;
    min-height: 100vh;
    background-color: #faf7f2;
    padding-top: 10px;
   
}

.logout{
   display: flex;
   justify-content: flex-end;
}
.logout>button{
    padding: 5px 10px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #d9ae94;
    color: #faf3f3;
    box-shadow: 2px 2px 2px #6b705c;
    cursor: pointer;
}

.container-shop>h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 10px;
    color: #997b66;
    font-size: 3rem;
}

.container-products{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;

}

